.autoavaliacao-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.autoavaliacao-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: #000;
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: auto;
    height: 100%;
}

.autoavaliacao-title {
 margin-top: 0;
 margin-bottom: 0;
}

.autoavaliacao-content::-webkit-scrollbar {
    width: 8px;
}

.autoavaliacao-content::-webkit-scrollbar-track {
    background: transparent;
}

.autoavaliacao-content::-webkit-scrollbar-thumb {
    background: #a7a6a6;
    border-radius: 4px;
}

.autoavaliacao-content::-webkit-scrollbar-thumb:hover {
    background: #888;
}


.rating-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.rating-button {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 70px;
    height: 35px;
}

.selected {
    background-color: #000;
    color: #fff;
}   

.autoavaliacao-left-sidebar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 20%;
    height: 100%;
    color: #000;
    border-left: 3px solid #a7a6a6;
}

.btn-primary{
    
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.comentario-container {
    width: 500px !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.comentario-input{
    margin-bottom: 0;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 5px;
}